html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
    background: black;
    color: #b3b3b3;
    font-size: 16px;
    font-family: Andale Mono,AndaleMono,monospace;
    --center-offset: 5em;
}

* {
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#start-button,
.loader,
.loader:after {
  --track-color: rgba(134, 134, 134, 0.3);
  border-radius: 50%;
  width: 10em;
  height: 10em;
  font-size: 10px;
  margin: 0;
  padding: 0;
  border: 2px solid var(--track-color);
}

#start-button,
.loader {
  position: absolute;
  top: calc(50% - 5em - var(--center-offset));
  left: calc(50% - 5em);
}

.loader {
  border-left: 2px solid #727272;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#start-button {
  border-color: #aaa;
  color: #eee;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: opacity 400ms;
  background: black;
  cursor: pointer;
}

#start-button label {
  pointer-events: none;
  font-size: 1.5em;
  letter-spacing: 0.15em;
}

#intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: calc(50% + 8em - var(--center-offset));
}

#intro p {
  font-size: 0.8em;
  max-width: 46em;
}